body {
    /* background-color: rgb(28, 2, 2); */
    background-image: url("../images/clear-sky.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    box-sizing: border-box;
    
}

.navbar {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgba(92, 91, 91, 0.311);
}

input {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 3px solid white
}

#glass {
    border-radius: 30px;
    border: 2px solid white;
}

#glass:focus {
    background: rgb(255, 189, 57);
    color: white;
    border: 2px solid rgb(255, 189, 57);
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content form {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

.weather {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.city {
    font-size: 1.4em;
}

.current-weather {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;        
}
.current-weather li {

    list-style-type: none;

}
.icon, .icon1, .icon2, .icon3, .icon4, .icon5{
    font-size: 1.2em;
}

.temp, .temp1, .temp2, .temp3, .temp4, .temp5 {
    font-size: 3em;
}

.forcast-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.condition, .condition1,.condition2,.condition3,.condition4,.condition5 {
    padding: 2px;
    /* border: 1px solid white; */
    text-align: center;
    font-size: 1.2em;
}
.detail-info {
    display:flex;
    justify-content: space-between;
}
.detail-info li {
    /* border: 1px solid white; */
    list-style-type: none;
    padding: 0 5px;
    font-size: .7em;
}
.daily-weather {
    /* color: black; */
    display:flex;
    justify-content:center;
    margin: 0 auto;
    padding:5vw 2vw;
    max-width: auto;
}
.days {
    background-color:rgba(255, 255, 255, 0.134);
    border: none;
    color:aliceblue;
    margin: 5px 5px;
}

.days:hover {
    border: 2px solid rgb(57, 209, 255);
}

/* uv index color code*/
.low {
    background-color: rgba(0, 128, 0, 0.600);
    border-radius: 5px;
}

.moderate {
    background-color: rgba(255, 238, 0, 0.838);
    border-radius: 5px;
    color: black
}

.high {
    background-color: rgba(255, 166, 0, 0.800);
    border-radius: 5px;
}

.veryHigh { 
    background-color: rgba(255, 0, 0, 0.600);
    border-radius: 5px;
}

